<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huayun.test.mapper.JdbcConfigMapper" >
    <resultMap id="BaseResultMap" type="com.huayun.test.model.JdbcConfig" >
        <id column="id" property="id" />
        <result column="key" property="key" jdbcType="VARCHAR" />
        <result column="value" property="value" jdbcType="VARCHAR"/>
        <result column="application" property="application" jdbcType="VARCHAR" />
        <result column="profile" property="profile" jdbcType="VARCHAR" />
        <result column="label" property="label" jdbcType="VARCHAR" />
        <result column="desc" property="desc" jdbcType="VARCHAR" />
        <result column="isview" property="isview" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getJdbcConfigs" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM csm_properties a
        where 1=1
        <if test="application != null"> AND a.application=#{application}</if>
    </select>

    <select id="getJdbcConfig" parameterType="java.lang.String"  resultMap="BaseResultMap">
		SELECT * FROM csm_properties a WHERE a."KEY"=#{key} AND a.application=#{application} AND a.profile=#{profile} AND a.label=#{label}
	</select>

    <select id="getJdbcConfigById" parameterType="java.lang.String"  resultMap="BaseResultMap">
		SELECT * FROM csm_properties a WHERE a.id=#{id}
	</select>

    <insert id="insert" parameterType="com.huayun.test.model.JdbcConfig">
       		INSERT INTO csm_properties("KEY","VALUE",application,profile,label,"DESC",isview)
		VALUES (#{key},#{value},#{application},#{profile},#{label},#{desc},#{isview})
    </insert>

    <update id="update" parameterType="com.huayun.test.model.JdbcConfig" >
		UPDATE csm_properties a set a."KEY"=#{key},a."VALUE"=#{value},a.application=#{application},a.profile=#{profile},a.label=#{label},a."DESC"=#{desc},a.isview=#{isview}
		WHERE a.id=#{id}
	</update>

    <delete id="delete" parameterType="java.lang.Integer" >
        DELETE FROM csm_properties WHERE id in
        <foreach collection="array" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>